org: bjardon
app: giftr-api
service: giftr-api

plugins:
    - serverless-offline

provider:
    name: aws
    runtime: nodejs20.x

functions:
    users-api:
        handler: dist/apps/users-api/main.handler
        environment: {{ range $n, $v := . }}
            {{$n}}: ${env:{{$n}}}{{end}}
        events:
            - http:
                  method: ANY
                  path: /users-api
            - http:
                  method: ANY
                  path: '/users-api/{proxy+}'

    gift-exchanges-api:
        handler: dist/apps/gift-exchanges-api/main.handler
        environment: {{ range $n, $v := . }}
            {{$n}}: ${env:{{$n}}}{{end}}
        events:
            - http:
                  method: ANY
                  path: /gift-exchanges-api
            - http:
                  method: ANY
                  path: '/gift-exchanges-api/{proxy+}'

